---
layout: "base.njk"
---

{% generator '' %}

<div class="container p-2">
  <div class="flex flex-col w-full mx-auto mb-2 text-left lg:w-3/4">
    <p class="my-4 text-lg leading-snug tracking-tight text-blue-400 lg:w-2/3">
      {{ date | postDate }}
    </p>
    <h1
      class="
        mb-2
        text-3xl
        font-black
        tracking-tighter
        text-black
        lg:text-5xl
        md:text-4xl
      "
    >
      {{ title }}
    </h1>
    <div>
      <!-- style="font-weight: 600;" -->
      <span class="font-weight: 700;"><b>Tags:</b> </span> {% for tags in tags
      %}
      <span
        class="
          inline-block
          px-3
          py-1
          text-sm
          font-semibold
          text-gray-700
          mr-2
          mb-2
          mt-2
        "
        ># {{ tags }}</span
      >
      {% endfor %}
    </div>
    <div class="author">
      {% if author %}
      <span style="font-weight: 600"><b>Author:</b></span>
      <a href="/authors/{{ author | slug }}/"><span class="text-black">{{ author }}</span></a>
      {% endif %}

      {% if authors %}
      <span style="font-weight: 600"><b>Authors:</b></span>
      <span class="text-black"> {{ authors }}</span>
      {% endif %}

    </div>
    <p
      class="
        mt-4
        text-lg
        leading-snug
        tracking-tight
        text-blueGray-400
        lg:w-2/3
      "
    >
      <span class="font-weight: 700;"> <b>Description:</b></span>
      {{ description }}
    </p>
    <span class="text-black">Read time:</span> About {{ content | readingTime }}</span>
  </div>
</div>

<br />
<img src="{{ image }}" class="w-full" alt="{{ imageAlt }}" width="100%" />
<div class="prose p-3 max-w-5xl m-auto contimg">
  {{ content | safe }}
</div>

