<div class="self-stretch w-full p-2 mb-2 sm:w-1/2 md:w-1/3">
  <div class="h-full rounded shadow-md">
    <a href="{{ post.url | url }}">
      <img
        class="w-full m-0 rounded-t lazy"
        src="{{ post.data.image }}"
        data-src="{% if post.data.image %}{{
          post.data.image | url
        }}{% else %}{{ '/assets/no-image.svg' | url }}{% endif %}"
        width="960"
        height="500"
        alt="{{ post.data.imageAlt }}"
/>
    </a>
    <div class="px-6 py-5">
      <div class="mb-2 text-lg font-semibold">
        <a
          class="text-gray-900 hover:text-blue-700"
          href="{{ post.url | url }}"
          >{{ post.data.title }}</a
        >
      </div>
      <p class="mb-1 text-gray-700" title="Published date">
        {{ post.date | postDate }}
      </p>
      <p class="text-gray-800">
        {{ post.data.description }}
      </p>
      <br>
      <hr>
      {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a class="inline-block px-3 py-1 mt-2 mb-2 mr-2 text-sm font-semibold text-gray-700" href="{{ tagUrl | url }}">#{{ tag }}</a>

      {% endfor %}
    </div>
  </div>
</div>
