<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"
    ></script>
    <script type="text/javascript">
      algoliasearchNetlify({
        appId: "670DAR37UF",
        apiKey: "471f52ab282805b5bcd246f23e68ee2e",
        siteId: "4e791764-5e51-47cb-bd10-a531ccf7733a",
        branch: "main",
        selector: "div#search",
      });
    </script>




    <!-- From UNPKG -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css"
    />

    <!-- From jsDelivr -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.4.x/dist/typography.min.css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700..900&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />

    <meta
      property="og:title"
      content="{% if social-title %}{{ social - title }}{% else %}{{
        title
      }} | {{ title }}{% endif %}"
    />
    <meta
      property="og:description"
      content="{% if social-description %}{{
        social - description
      }}{% elif  description %}{{ description }}{% else %}{{
        description
      }}{% endif %}"
    />
    <meta property="og:url" content="{{ page.url | url }}" />
    <meta
      property="og:image"
      content="{% if social-image %}{{ social - image }}{% else %}{{
        site.url | url
      }}img/brand-icon.png{% endif %}"
    />
    <meta
      name="twitter:image"
      content="{% if social-image %}{{ social - image }}{% else %}{{
        site.url | url
      }}img/brand-icon.png{% endif %}"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <style>
      #e8xv1t5ZD232_to {
        animation: e8xv1t5ZD232_to__to 3000ms linear infinite normal forwards;
      }
      @keyframes e8xv1t5ZD232_to__to {
        0% {
          transform: translate(460.58075px, 337.673134px);
        }
        50% {
          transform: translate(586.58075px, 337.673134px);
        }
        100% {
          transform: translate(478.58075px, 337.673134px);
        }
      }
      #e8xv1t5ZD232_tr {
        animation: e8xv1t5ZD232_tr__tr 3000ms linear infinite normal forwards;
      }
      @keyframes e8xv1t5ZD232_tr__tr {
        0% {
          transform: rotate(-20deg);
        }
        50% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(-20deg);
        }
      }
      #e8xv1t5ZD2310_to {
        animation: e8xv1t5ZD2310_to__to 3000ms linear infinite normal forwards;
      }
      @keyframes e8xv1t5ZD2310_to__to {
        0% {
          transform: translate(440.957283px, 279.323426px);
        }
        60% {
          transform: translate(255.957283px, 279.323426px);
        }
        100% {
          transform: translate(431.957283px, 279.323426px);
        }
      }
      #e8xv1t5ZD2310_tr {
        animation: e8xv1t5ZD2310_tr__tr 3000ms linear infinite normal forwards;
      }
      @keyframes e8xv1t5ZD2310_tr__tr {
        0% {
          transform: rotate(25deg);
        }
        60% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(25deg);
        }
      }
      #e8xv1t5ZD2321_tr {
        animation: e8xv1t5ZD2321_tr__tr 3000ms linear infinite normal forwards;
      }
      @keyframes e8xv1t5ZD2321_tr__tr {
        0% {
          transform: translate(55.053932px, 609.293793px) rotate(0deg);
        }
        50% {
          transform: translate(55.053932px, 609.293793px) rotate(6deg);
        }
        100% {
          transform: translate(55.053932px, 609.293793px) rotate(0deg);
        }
      }
      #e8xv1t5ZD2327_tr {
        animation: e8xv1t5ZD2327_tr__tr 3000ms linear infinite normal forwards;
      }
      @keyframes e8xv1t5ZD2327_tr__tr {
        0% {
          transform: translate(97.575691px, 630.421112px) rotate(0deg);
        }
        49.333333% {
          transform: translate(97.575691px, 630.421112px) rotate(-6.54629deg);
        }
        100% {
          transform: translate(97.575691px, 630.421112px) rotate(0deg);
        }
      }
      #e8xv1t5ZD2335 {
        animation: e8xv1t5ZD2335_c_o 3000ms linear infinite normal forwards;
      }
      @keyframes e8xv1t5ZD2335_c_o {
        0% {
          opacity: 0.04;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      #e8xv1t5ZD2355_tr {
        animation: e8xv1t5ZD2355_tr__tr 3000ms linear infinite normal forwards;
      }
      @keyframes e8xv1t5ZD2355_tr__tr {
        0% {
          transform: translate(229.589867px, 377.696884px) rotate(0deg);
        }
        50% {
          transform: translate(229.589867px, 377.696884px) rotate(-35.257615deg);
        }
        100% {
          transform: translate(229.589867px, 377.696884px) rotate(0deg);
        }
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
    />

    <script
      src="/src/yt-gallery.js"
      searchEnabled="true"
      columns="4"
      resultsPerPage="18"
      playlistId="PL4BrNFx1j7E6a6IKg8N0IgnkoamHlCHWa"
    ></script>

    <!-- Fontawesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Animations -->
    <!-- Animate on scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <!-- Netlify CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <!-- Styling -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="/build/styles.css" />

    <!-- Alpine Js -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>

    <link rel="shortcut icon" href="https://lh3.googleusercontent.com/1GiGcuEfGdj6mQ_TCIXRuD_vxtm-0RFA0jKuC3HczY59541u5Hk6ZSaIYyx_LX3epkFrX-7niqPHGSXkT3aHIsQ-3K7Cqb8fpAocW0O6fiamLvAbQ--d5c8LnGxIToWDWlVpsha7ERrXZ7IdHY5DBnZ-d3KwlXWG5FvXLTHmojZEsFnsrEa_0J4SiN3ptS1OojOqcMNAepkiA8eYDcIcFeqGhncr1nWeGaEmkVwmJqAvnrwBca93nYMFyMO6uOiG37JoJDX0TPqX0Ps8hGy1nSW9ze4kwBQbwejPK3ceV_PU2NlHh_L92W_UWOjbk2XVjZsjbZ37EVDxkqyFumo6N75aaSnOXP_ZDObIJCIrqGO-F8lrhhdrUBX7FSLseLUPbVDbMvfC7wp5f3SvUAB-zm9-Rp-2zO7tjVmjI6HxSNZQpDEnJXiccDgCyE2G7P3Ouyxr0EqKByAB5zmzJ46GQS6nGLEGPRCezEEs676oO3LxbWeq1gIQ3Kn3QFKLHvoenowcvmeX6WXYWNj1vpY9syAkhOmtNyDhJIEFgXO6pqmpgscRcKJQehRnYYXHkc2sxzw2sBKBL0_hJ2KZjXr0aG87l4MFyFYnP5QVo0orLEjftklD6vmpL_aER6gpEfqOdThW09PHe_vkoFBzsuoRuFEYykWtZ2vYKGyjXvj1T2KAkSGbAr3Nf-KYestMTOZJjfmV5fQ5VAtP7sxLXMpZ0Htwyg=w1050-h690-no?authuser=0" />
    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
    <script id="dsq-count-scr" src="//knighttimesnews.disqus.com/count.js" async></script>
  </body>
</html>
