<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"
    ></script>
    <script type="text/javascript">
      algoliasearchNetlify({
        appId: "670DAR37UF",
        apiKey: "471f52ab282805b5bcd246f23e68ee2e",
        siteId: "4e791764-5e51-47cb-bd10-a531ccf7733a",
        branch: "master",
        selector: "div#search",
      });
    </script>

    <!-- From UNPKG -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css"
    />

    <!-- From jsDelivr -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.4.x/dist/typography.min.css"
    />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700..900&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <meta name="author" content="{{ site.authorName }}" />
    <meta name="description" content="{{ site.description }}" />
    <link rel="icon" href="{{ site.favicon }}" type="image/svg+xml" />

    <!-- Hero SVG Animation -->
    <style>
      #eiDLZk0QKtq6_tr {
        animation: eiDLZk0QKtq6_tr__tr 3000ms linear infinite normal forwards;
      }
      @keyframes eiDLZk0QKtq6_tr__tr {
        0% {
          transform: translate(628.841767px, 269.792816px) rotate(0deg);
        }
        50% {
          transform: translate(628.841767px, 269.792816px) rotate(-5deg);
        }
        100% {
          transform: translate(628.841767px, 269.792816px) rotate(0deg);
        }
      }
      #eiDLZk0QKtq19_tr {
        animation: eiDLZk0QKtq19_tr__tr 3000ms linear infinite normal forwards;
      }
      @keyframes eiDLZk0QKtq19_tr__tr {
        0% {
          transform: translate(466.072449px, 454.280945px) rotate(0deg);
        }
        50% {
          transform: translate(466.072449px, 454.280945px) rotate(10deg);
        }
        100% {
          transform: translate(466.072449px, 454.280945px) rotate(0deg);
        }
      }
      #eiDLZk0QKtq28_tr {
        animation: eiDLZk0QKtq28_tr__tr 3000ms linear infinite normal forwards;
      }
      @keyframes eiDLZk0QKtq28_tr__tr {
        0% {
          transform: translate(620.334412px, 464.34195px) rotate(0deg);
        }
        50% {
          transform: translate(620.334412px, 464.34195px) rotate(-10deg);
        }
        100% {
          transform: translate(620.334412px, 464.34195px) rotate(0deg);
        }
      }
      #eiDLZk0QKtq37_to {
        animation: eiDLZk0QKtq37_to__to 3000ms linear infinite normal forwards;
      }
      @keyframes eiDLZk0QKtq37_to__to {
        0% {
          transform: translate(261.251999px, 539.139328px);
        }
        33.333333% {
          transform: translate(-246.748001px, 539.139328px);
        }
        50% {
          transform: translate(1126.251999px, 539.139328px);
        }
        70% {
          transform: translate(541.251999px, 539.139328px);
        }
        83.333333% {
          transform: translate(373.251999px, 539.139328px);
        }
        100% {
          transform: translate(261.25px, 539.139328px);
        }
      }
      #eiDLZk0QKtq37 {
        animation: eiDLZk0QKtq37_c_o 3000ms linear infinite normal forwards;
      }
      @keyframes eiDLZk0QKtq37_c_o {
        0% {
          opacity: 1;
        }
        30% {
          opacity: 1;
        }
        33.333333% {
          opacity: 0;
        }
        63.333333% {
          opacity: 0;
        }
        66.666667% {
          opacity: 1;
        }
        100% {
          opacity: 1;
        }
      }
      #eiDLZk0QKtq73 {
        animation: eiDLZk0QKtq73_c_o 3000ms linear infinite normal forwards;
      }
      @keyframes eiDLZk0QKtq73_c_o {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css"
    />

    <script
      src="/src/yt-gallery.js"
      searchEnabled="true"
      columns="4"
      resultsPerPage="18"
      playlistId="PL4BrNFx1j7E6a6IKg8N0IgnkoamHlCHWa"
    ></script>

    <!-- Fontawesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Animations -->
    <!-- Animate on scroll -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <!-- Netlify CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <!-- Styling -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="/build/styles.css" />

    <!-- Alpine Js -->
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>

    <title>{{ title }}</title>
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
      {{ content | safe }}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
