---
title: Arts & Entertainment Category
layout: "base.njk"
---

<h1 class="text-5xl gray-800 m-10">Category - Arts & Entertainment</h1>

<div class="flex justify-between flex-wrap">
  {%- for post in collections.ae | reverse -%} {% include "article-snippet.njk"
  %} {%- endfor %}
</div>
