---
title: Articles
layout: "base.njk"
pagination:
  data: collections.post
  size: 4
  alias: posts
  reverse: true
---

<h1 class="text-5xl gray-800 m-10">Articles</h1>

<div class="grid grid-cols-1 md:grid-cols-3 gap-3 m-1">
  {% for post in posts %} {% include "article-snippet.njk" %} {% endfor %}
</div>
