---
title: Broadcasts
layout: base.njk
---

<div class="m-2">
  <h1 class="text-5xl mb-3">Broadcasts</h1>

  <center>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/_EqioG3DEFI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      class="youtubevideo"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      class="youtubevideo"
      src="https://www.youtube.com/embed/N0MzoZrObrU"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      class="youtubevideo"
      src="https://www.youtube.com/embed/KT9AgkIU6lE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      class="youtubevideo"
      src="https://www.youtube.com/embed/XHOgr5H1Hy0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      class="youtubevideo"
      src="https://www.youtube.com/embed/v4owXWq33cw"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <iframe
      width="560"
      height="315"
      class="youtubevideo"
      class="youtubevideo"
      src="https://www.youtube.com/embed/Fm5Xsweiw14"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </center>
</div>
