---
title: Features Category
layout: "base.njk"
---

<h1 class="text-5xl gray-800 m-10">Category - Features</h1>

<div class="flex justify-between flex-wrap">
  {%- for post in collections.features | reverse -%} {% include
  "article-snippet.njk" %} {%- endfor %}
</div>
