---
title: Features Category
layout: "base.njk"
---

<h1 class="text-5xl gray-800 m-10">Category - Features</h1>

<div
  class="
    p-10
    grid grid-cols-1
    sm:grid-cols-1
    md:grid-cols-3
    lg:grid-cols-3
    xl:grid-cols-3
    gap-5
  "
>
  {%- for post in collections.features | reverse -%} {% include "article-snippet.njk"
  %} {%- endfor %}
</div>
